<main>
  <div class="container container-hero">
    <img class="bg-hero" src="assets/images/bg-hero.svg" alt="backgroung" />
    <div class="hero">
      <div class="hero-left">
        <h1>Encuentra tu especialista y agenda tu cita</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, voluptate, quia voluptas quod quos.
        </p>
      </div>
      <div class="hero-right">
        <div class="img-container">
          <img src="assets/images/hero-avatar-1.webp" alt="hero-avatar" />
        </div>
      </div>
    </div>
  </div>

  <div class="container container-specialty">
    <div class="carousel-specialties">
      <app-specialty-list></app-specialty-list>
    </div>
  </div>

  <div class="container container-cta">
    <div class="cta">
      <div class="cta-left">
        <div class="img-container">
          <img src="assets/images/cta.webp" alt="cta avatar" />
        </div>
      </div>
      <div class="cta-right">
        <div class="cta-right-content">
          <h2>
            ¿Eres profesional de la salud? Comienza a atraer nuevos pacientes
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, voluptate, quia voluptas quod quos. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
          <p>
            Sunt doloremque illo autem? Sunt, accusamus et repellendus fugit
            quibusdam mollitia illo autem? Sunt, accusamus et repellendus fugit
            quibusdam mollitia porro!
          </p>
        </div>
        <button class="btn btn-form" [routerLink]="['/auth/register-doctor']">
          Registrate
        </button>
      </div>
    </div>
  </div>

  <div class="container container-doctors">
    <div class="title-doctors">
      <h2>Conoce a nuestros especialistas</h2>
    </div>

    <div class="carousel-doctors">
      <app-doctor-list></app-doctor-list>
    </div>
  </div>

  <div class="container container-opinions">
    <div class="title-opinions">
      <h2>Opiniones de nuestros pacientes</h2>
    </div>

    <div class="carousel-opinions">
      <app-opinion-list></app-opinion-list>
    </div>
  </div>
</main>
