<div class="container">
  <div class="titulo">
    <h1>PERFIL PUBLICO DEL MEDICO</h1>

    <div class="profile">
      <div class="profile-card">
        <div class="card">
          <br />
          <br />
          <br />
          <img
            src="../../../assets/images/doctors/bruno-rodrigues.jpg"
            alt="Avatar"
          />
        </div>
        <div class="profile-description">
          <p>
            Ad cupidatat cillum proident elit labore consectetur deserunt in
            minim laboris aliquip. Aliquip labore nostrud minim esse Lorem anim
            ut enim exercitation et pariatur amet. Dolore fugiat cupidatat
            consequat deserunt nulla excepteur. Deserunt magna consectetur anim
            fugiat voluptate laboris.
          </p>
          <div>
            <button type="button" class="btn btn-primary">contactar</button>
          </div>
        </div>
      </div>
      <div class="profile-description">
        <p>
          Id duis aliquip magna aute consequat non ad sit. Minim et occaecat
          ipsum do excepteur deserunt ex sunt dolore amet irure ut fugiat.
          Commodo laborum non adipisicing et dolor duis cupidatat. Voluptate
          duis deserunt aliquip sint commodo ullamco Lorem voluptate. Ad
          incididunt eiusmod fugiat velit anim proident. Exercitation labore id
          duis sint Lorem nostrud mollit. Amet in id do officia officia et ex
          nulla anim commodo.
        </p>
      </div>
    </div>
  </div>
</div>
