<div class="container">
  <div class="titulo">
    <h1>{{ doctor }}</h1>

    <div class="profile">
      <div class="profile-card">
        <div class="card">
          <br />
          <br />
          <br />
          <br />
          <img
            src="../../../assets/images/doctors/bruno-rodrigues.jpg"
            alt="Avatar"
          />
        </div>
        <div class="profile-description">
          <p>
            Soy un médico especialista altamente comprometido con la excelencia
            en la atención médica. Mi pasión por la medicina y mi búsqueda
            constante de conocimiento me han llevado a convertirme en un experto
            en mi área de especialización.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="profile-description">
          <p>
            Mi conocimiento profundo en mi campo es el resultado de años de
            educación y experiencia clínica. Estoy constantemente actualizado
            sobre los últimos avances médicos y las mejores prácticas en mi
            especialidad para brindar el tratamiento más efectivo y actualizado.
            Una de mis cualidades distintivas es mi empatía. Comprendo que cada
            paciente es único y enfrenta desafíos y preocupaciones específicas.
            Trabajo arduamente para establecer conexiones personales con mis
            pacientes y sus familias, creando un ambiente de confianza y
            comodidad en el consultorio médico.
          </p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="profile-description">
          <h2>Horarios disponibles</h2>

          <div class="enviar">
            <button class="btn btn-success shadow-lg">Reservar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
