<div class="layout-container">
  <div class="title">
    <h2>Configuración de la cuenta</h2>
  </div>
  <div class="content">
    <nav class="layout-sidebar">
      <div class="nav-container">
        <ul>
          <li><a routerLink="/">Mi Perfil</a></li>
          <li><a routerLink="/profile/settings/appointments">Mis Citas</a></li>
          <li><a routerLink="/">Seguridad</a></li>
        </ul>
      </div>

      <div class="nav-actions">
        <button class="danger">Eliminar cuenta</button>
      </div>
    </nav>
    <div class="layout-body">
      <div class="layout-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
