<section class="list">
  <div class="list__search">
    <!-- <app-tabs
      [tabs]="tabs"
      (selectedTabsChange)="tabsChange($event)"
    ></app-tabs> -->
    <div class="search">
      <div class="search__content">
        <input
          type="text"
          placeholder="Buscar por Especialidad"
          class="search__content--input"
          #txtSearch
          (keyup)="searchSpeciality(txtSearch.value)"
        />
        <i class="fas fa-search search__content--icon"></i>
      </div>
    </div>
  </div>
  <div class="list__content">
    <div class="card">
      <h1 class="card__title">Resultado de Busqueda</h1>
      <div class="card__container">
        <div
          class="card__content"
          *ngFor="let item of doctors | filter: search"
        >
          <div class="card__header">
            <img
              src="../../../../assets/images/avatar2.svg"
              alt="avatar"
              class="card__header--image"
            />
            <div class="card__header--text">
              <h1 class="card__header--name">{{ item.name }}</h1>
              <span class="card__header--specility">{{
                item.speciality | titlecase
              }}</span>
            </div>
          </div>
          <app-tabs
            [tabs]="tabs"
            (selectedTabsChange)="tabsChange($event)"
          ></app-tabs>
          <div class="card__body">
            <div class="card__body--box" *ngIf="activeTabsIndex === 0">
              <i class="fa-solid fa-location-dot"></i>
              <p class="card__body--street">{{ item.direccion }}</p>
            </div>
            <div class="card__body--box" *ngIf="activeTabsIndex === 1">
              <p class="card__body--street">Especialidades</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list__content--maps"></div>
  </div>
</section>
